.profile-cover{
  height: 400px;
  background-color: lightgrey;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.upload-cover{
  position: absolute;
  left: 50px;
  bottom: 50px;
}
